html {
  font-family: "Roboto", sans-serif;
  background-color: #e0e0e0;
}
body {
  margin: 0;
  padding: 0;
}

#root {
  box-sizing: content-box;
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

nav.main {
  position: fixed;
  right: 30px;
  top: 30px;
  z-index: 5;
  background-color: #fff;
  padding: 10px 15px;
  border-radius: 10px;
}

nav.main .titulo {
  font-size: 1.1rem;
  font-weight: bold;
}

nav.main ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav.main a {
  color: #333;
}

nav.main a.active {
  color: #538ad4;
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  align-self: flex-end;
  background-color: #FFFFFF50;
}

#api {
  margin-top: 50px;
}

#home {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

/* Estilos formulario */
form {
  display: flex;
  flex-flow: row;
  width: 100%;
  gap: 50px;
  justify-content: center;
}

form .form-container {
  display: flex;
  flex-flow: column;
  gap: 10px;

  width: 200px;
}

form input[type="text"],
form input[type="email"],
textarea {
  border: none;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
}

form > p {
  width: 200px;
  border: 1px solid #333;
  border-radius: 10px;
  height: 100%;
  padding: 20px;
}

form button {
  box-sizing: content-box;
  width: 100%;
  border-radius: 10px;
  border: none;
  padding: 10px;
  background-color: #333333;
  color: #fff;
  cursor: pointer;
}

form button:hover {
  background-color: #33333380;
}
